In [2]:
# Hello, Python!
# ● Write a program that asks the user for their name and age, then prints a greeting
# message.
def hello_python():
    name = input("Enter name")
    age = input("Enter age")
    print(f"Hello {name} of age {age}")

hello_python()

Enter nameahmed
Enter age31
Hello ahmed of age 31

In [21]:
# Data Type Identification
# ● Create a program that takes user input and determines its data type, handling
# conversions to int or float when possible.
def data_type_id():
    data = input("Enter input")
    try:
        data_int = int(data)
        print(f"Data type of {data} is int")
    except:
        try:
            data_float = float(data)
            print(f"Data type of {data} is float")
        except:
            print(f"Data type of {data} is string")

data_type_id()

Enter input5
<class 'str'>
Data type of 5 is int

In [7]:
# List Operations
# ● Initialize a list with specific elements, modify it by adding and removing items, and print
# each element in uppercase.
def list_ops():
    arr = ['a', 'b', 'c']
    print(arr)
    arr.append('d')
    print(arr)
    arr.remove('a')
    print(arr)

    for e in arr:
        print(e.upper())

list_ops()

['a', 'b', 'c']
['a', 'b', 'c', 'd']
['b', 'c', 'd']
B
C
D

In [11]:
# Tuple Unpacking
# ● Unpack the first two elements of a given tuple into separate variables and print them.
def tuple_unpack():
    tup = ('abc', 5, 'a')
    first, second = tup[0], tup[1]

    print(first)
    print(second)
tuple_unpack()

abc
5

In [12]:
# Dictionary Management
# ● Create a program to store five student names and their grades in a dictionary and then
# print the dictionary.
def dict_mng():
    d = {
        'ahmed': 'A+',
        'hussain': 'C',
        'aadil': 'C',
        'ali': 'C',
        'umer': 'B'
    }
    print(d)

dict_mng()

{'ahmed': 'A+', 'hussain': 'C', 'aadil': 'C', 'ali': 'C', 'umer': 'B'}

In [13]:
# Set Operations
# ● Take two lists of integers from the user, convert them to sets, and display their union,
# intersection, and difference.

def set_ops():
    first = input("Enter list separated by spaces")
    second = input("Enter list separated by spaces")

    first_set = set(map(int, first.split()))
    second_set = set(map(int, second.split()))

    print("Union:", first_set.union(second_set))
    print("Intersection:", first_set.intersection(second_set))
    print("Difference:", first_set.difference(second_set))

set_ops()

Enter list separated by spaces1 2 3 4
Enter list separated by spaces4 5 6 7
Union: {1, 2, 3, 4, 5, 6, 7}
Intersection: {4}
Difference: {1, 2, 3}

In [15]:
# # Conditional Statements: Number Checker
# ● Ask the user to enter an integer and determine if it is positive, negative, or zero, and
# whether it is even or odd.
def cond_state():
    num = int(input("Enter num"))
    if num == 0:
        print("zero")
    elif num > 0:
        print("positive")
    else:
        print("negative")

    print("even") if num%2 == 0 else print("odd")

cond_state()

Enter num5
positive
odd

In [19]:
# FizzBuzz
# ● Print numbers from 1 to 50, replacing multiples of three with "Fizz", multiples of five with
# "Buzz", and multiples of both with "FizzBuzz"
def fizzbuzz():
    for i in range (1,50):
        if i%3 == 0 and i%5 == 0:
            print("fizzbuzz")
        elif i%3 == 0:
            print("fizz")
        elif i%5 == 0:
            print("buzz")
        else:
            print(i)

fizzbuzz()

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49

In [25]:
# Function: Factorial Calculator
# ● Define a function to calculate the factorial of a non-negative integer using a loop.
def factorial():
    num = int(input("enter num"))
    f = 1
    for i in range(1,num+1):
        f = f*i
    print(f)
factorial()

enter num6
720

In [27]:
# Prime Number Checker
# ● Create a function to check if a number is prime and use it to verify a user-entered
# number.
def prime():
    num = int(input("enter num"))

    prime = True
    for i in range(2,num):
        if num%i == 0:
            print("not prime")
            prime = False

    if prime:
        print("prime")

prime()

enter num25
not prime

In [31]:
# List Comprehension: Squares
# ● Write a function that takes a list of integers and returns a new list with the squares of
# each number using list comprehension.

def squares():
    inp = True

    arr = []
    sq = []
    while inp:
        data = input("Enter number or write quit")
        if "quit" in data:
            inp = False
        else:
            arr.append(int(data))

    for a in arr:
        sq.append(a*a)
    print(arr)
    print(sq)

squares()

Enter number or write quit5
Enter number or write quit6
Enter number or write quit7
Enter number or write quit8
Enter number or write quitend
[5, 6, 7, 8]
[25, 36, 49, 64]

In [32]:
# Merge Dictionaries
# ● Merge two dictionaries into one, with the second dictionary's values overwriting the first's
# in case of duplicate keys.
def merge_dict():
    first = {
        'a': 5,
        'b': 6,
        'c': 7
    }
    second = {
        'a': 10,
        'd': 11,
        'e': 12
    }

    merged = first.copy()

    for k, v in second.items():
        merged[k] = v

    print(merged)

merge_dict()

{'a': 10, 'b': 6, 'c': 7, 'd': 11, 'e': 12}

In [39]:
# Remove Duplicates from a List
# ● Write a function that removes duplicates from a list of integers while preserving the
# original order.
def rem_dup_list():
    arr = [4,5,6,7,4,6,7,8,3,4,6,8,9,0,123,3]
    arr2 = []
    for i in arr:
        if not i in arr2:
            arr2.append(i)
    print(arr2)
rem_dup_list()

[4, 5, 6, 7, 8, 3, 9, 0, 123]

In [41]:
# Palindrome Checker
# ● Create a function to check whether a given string is a palindrome, ignoring case and
# spaces.
def palindrome():
    string = "ahmed"
    isPalindrome = lambda string:string == string[::-1]

    if isPalindrome(string):
        print("yes")
    else:
        print("no")

palindrome()

no

In [43]:
# Fibonacci Sequence Generator
# ● Write a function that generates the first n numbers in the Fibonacci sequence based on
# user input.
def fibo():
    first = 0
    second = 1
    num = int(input("how many"))
    print(first)
    print(second)


    for i in range(0,num):
        temp = first+second
        first = second
        second = temp
        print(second)

fibo()

how many10
0
1
1
2
3
5
8
13
21
34
55
89

In [44]:
# Average Calculator with Validation
# ● Develop a program that takes a series of numbers from the user, validates the input, and
# calculates the average.

def calc():
    inp = True

    arr = []
    while inp:
        data = input("Enter number or write quit")
        if "quit" in data:
            inp = False
        else:
            try:
                arr.append(int(data))
            except:
                continue
    sum = 0
    for i in arr:
        sum = sum + i
    print(sum/len(arr))

calc()

Enter number or write quit5
Enter number or write quit5
Enter number or write quit6
Enter number or write quit7
Enter number or write quit8
Enter number or write quitf
Enter number or write quit5
Enter number or write quit7
Enter number or write quitend
6.142857142857143

In [46]:
# Nested Loops: Multiplication Table
# ● Generate and print a multiplication table from 1 to 10 using nested loops.

def multi():
    for i in range(1, 11):
        for j in range(1, 11):
            print(f"{i} * {j} = {i*j}")

multi()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [48]:
# User Registration System
# ● Implement a simple registration and login system using a dictionary to store user
# credentials.
def reglogin():
    details = {
        "ahmed": "123",
        "umer": "12"
    }
    username = input("enter name")
    password = input("enter password")

    if username in details:
        if details[username] == password:
            print("Login")
        else:
            print("wrong password.")
    else:
        details[username] = password
        print("Registered")

reglogin()

enter nameabvx
enter password1234
Registered

In [49]:
# Counting Elements with a Dictionary
# ● Take a list of words from the user and count the frequency of each word using a
# dictionary.
def count_dict():
    arr = []
    inp = True
    while inp:
        data = input("Enter word or 0 to quit: ")
        if data == "0":
            inp = False
        else:
            arr.append(data)

    count = {}
    for word in arr:
        if word in count:
            count[word] += 1
        else:
            count[word] = 1

    print(count)

count_dict()

Enter word or 0 to quit: ahmed
Enter word or 0 to quit: word
Enter word or 0 to quit: umer
Enter word or 0 to quit: ahmed
Enter word or 0 to quit: 0
{'ahmed': 2, 'word': 1, 'umer': 1}

In [50]:
# Temperature Converter
# ● Create a function to convert temperatures between Celsius and Fahrenheit based on
# user choice.

def celc_fahren():
    choice = input("celc or fahren")
    temp = int(input("enter val"))

    if "celc" in choice:
        temp = (temp * 9/5) + 32
    elif "fahren" in choice:
        temp = (temp - 32) * 5/9
    else:
        print('WRONG')
    print(temp)

celc_fahren()

celc or fahrencelc
enter val52
125.6